<h2>Objective</h2>
<table class="table table-bordered table-striped" id="objective-table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Sense</th>
      <th scope="col">Nutritional Component</th>
    </tr>
  </thead>
  <tbody id="objective-inputs">
    <tr>
      <td>
        <select class="form-select" name="objective-sense">
          <option value="minimize">Minimize</option>
          <option value="maximize" selected>Maximize</option>
        </select>
      </td>
      <td>
        <select class="form-select" name="objective-nutritional-component">
          <option value="energy">Energy</option>
          <option value="protein">Protein</option>
          <option value="fat">Fat</option>
          <option value="carbohydrates">Carbohydrates</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
