<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrients Calculator</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script defer src="static/main.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">タイトルは未定</h1>

        <div class="form-group">
            <input type="text" id="search" class="form-control" placeholder="食品名で検索" onkeyup="filterTable()">
        </div>

        <table class="table table-bordered" id="nutritionTable">
            <thead class="thead-dark">
                <tr>
                    <th>食品名</th>
                    <th>熱量(kcal)</th>
                    <th>タンパク質(g)</th>
                    <th>脂質(g)</th>
                    <th>食物繊維(g)</th>
                    <th>炭水化物(g)</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <!-- データは JavaScript で動的に挿入 -->
            </tbody>
        </table>

        <p>
            出典：日本食品標準成分表（八訂）増補2023年 （文部科学省）（
            <a href="https://www.mext.go.jp/a_menu/syokuhinseibun/mext_00001.html">https://www.mext.go.jp/a_menu/syokuhinseibun/mext_00001.html</a>）<br>
            出典：・第2章（データ） (Excel:1.9MB) （文部科学省）（
            <a href="https://www.mext.go.jp/content/20230428-mxt_kagsei-mext_00001_012.xlsx">https://www.mext.go.jp/content/20230428-mxt_kagsei-mext_00001_012.xlsx</a>）を加工して作成
        </p>
    </div>
</body>

</html>
